# Byte-compiled / optimized
__pycache__/
*.py[cod]
*$py.class

# PyTorch
*.pt
*.pth
*.ckpt

# Virtual envs
.venv/
venv/
env/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Build / dist
build/
dist/
*.egg-info/
*.spec

# Outputs
*.log
results/
